form.contact-form
    .contact-form__fields
        .contact-form__line
            input(type="text" placeholder="Полное имя").contact-form__input
        .contact-form__line
            input(type="text" placeholder="E-mail").contact-form__input
        .contact-form__line
            input(type="text" placeholder="Телефон").contact-form__input
        .contact-form__line
            textarea(placeholder="Пожалуйста, опишите задачу").contact-form__textarea
    .contact-form__controls
        a(href="#" target="_blank").contact-form__privacy Политика обработки персональных данных
        button(type="submit").btn.-white.-short.contact-form__button ОТПРАВИТЬ ЗАЯВКУ
