#callback
    span#callback__close
    .callback-wrapper
        form.callback-form
            .callback-form__ttl Заказать звонок
            .callback-form__content
                .input
                    input.callback-form__input(type="text", placeholder="Ваше имя")
                .input
                    input.callback-form__input(type="text", placeholder="Телефон")
                .textarea
                    textarea.callback-form__textarea(placeholder="Комментарий")
                .input-submit
                    input.callback-form__submit.js-callback-submit(type="submit", value="Отправить")
#callback__overlay