script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU")
script.
    ymaps.ready(init);
    function init () {
        var map = new ymaps.Map("map", {
            center: [64.5422580573521,40.567459999999954],
            zoom: 17
        });
        var placemark = new ymaps.Placemark([64.54225574861084,40.56746536441798], {
            balloonContent: '163 000, Росcия, г.Архангельск, ул.Тимме, д.3',
        }, {
            iconImageHref: 'images/balloon.png',
            iconImageSize: [182, 182],
            iconImageOffset: [-118,-110]
        });
        map.geoObjects.add(placemark);
    }