.footer {
	background-color: $accent-dark;
	&__inner {
		padding: 40px 0;
		@media screen and (min-width: $w-tablet) {
			padding: 32px 0 60px;
			display: flex;
		}
		@media screen and (min-width: $w-desktop-l) {
			padding: 32px 100px 90px;
		}
	}
	&__main {
		flex-grow: 1;
		margin-bottom: 30px;
		@media screen and (min-width: $w-tablet) {
			padding: 50px 0 20px;
			width: 50%;
			padding-right: 15px;
			max-width: 666px;
			margin-left: auto;
			margin-bottom: 0;
		}
		@media screen and (min-width: $w-desktop-l) {
			padding: 50px 0 45px;
		}
		&-title {
			text-transform: uppercase;
			color: $white;
			font-family: $f-DINPro-Bold;
			margin-bottom: 40px;
			font-size: 45px;
			letter-spacing: -0.025em;
			line-height: 1;
			@media screen and (min-width: $w-desktop-s) {
				margin-bottom: 68px;
			}
		}
		&-content {
			padding-left: 4px;
		}
	}
	&__info {
		margin-bottom: 50px;
		&-text {
			margin-bottom: 20px;
			font-family: $f-MyriadPro-Regular;
			color: $white;
			font-size: 18px;
			letter-spacing: -0.025rem;
			line-height: 1.26;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__contacts {
		display: block;
		@media screen and (min-width: $w-tablet) {
			
		}
		@media screen and (min-width: $w-desktop-s) {
			display: flex;
		}
		&-main {
			margin-bottom: 20px;
			@media screen and (min-width: $w-desktop-s) {
				margin-right: 20px;
				margin-bottom: 0;
			}
			@media screen and (min-width: $w-desktop) {
				margin-right: 68px;
			}
		}
		&-phone {
			font-size: 20px;
			color: $white;
			font-family: $f-MyriadPro-Regular;
			line-height: 40px;
			letter-spacing: -0.025em;
			display: block;
			@media screen and (min-width: $w-desktop) {
				font-size: 30px;
			}
		}
	}
	&__links {
		padding: 15px 20px;
		border-left: 3px solid #0058a7;
		@media screen and (min-width: $w-desktop) {
			padding: 15px 34px;
		}
		&-item {
			margin-bottom: 22px;
			&:last-child {
				margin-bottom: 0;
			}
			&-link,
			&-label {
				letter-spacing: -0.025em;
				font-size: 16px;
				color: #3d95e3;
				font-family: $f-MyriadPro-Regular;
				@media screen and (min-width: $w-desktop) {
					font-size: 18px;
				}
			}
		}
	}
	&__form {
		@media screen and (min-width: $w-tablet) {
			width: 50%;
			max-width: 556px;
		}
		@media screen and (min-width: $w-desktop-s) {
			width: 100%;
		}
	}
}
