//colors
$black: #000;
$white: #fff;

//size
$w-desktop: 1024px;
$w-tablet: 768px;
$w-mobile: 425px;

//width
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-w: 900;

//fonts
$f-OpenSans: "OpenSans", sans-serif;
