- var nav = [{url: '/', name: 'Главная'}, {url: 'rooms.html', name: 'Номера'}, {url: '#', name: 'Ресторан'}, {url: '#', name: 'Конференц-зал'}, {url: 'info.html', name: 'Информация'}, {url: 'contacts.html', name: 'Контакты'}];

mixin navItem(url, name, current)
    li.header-menu__items
        a.header-menu__links(class=name==current ? 'header-menu__links_active' : '', href=url, title=name)= name