.header-menu {
  &__list {
    @include uldev();
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    margin-right: 10px;
  }
  &__link {
    color: $black;
    padding: 10px;
    display: block;
    transition: 0.5s;
    &:hover {
      text-decoration: underline;
    }
  }
}
